<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boswelja.autoevent">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AutoEvent">

        <activity
            android:name=".main.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name=".notificationeventextractor.NotiEventExtractorService"
            android:exported="true"
            android:label="@string/noti_listener_label"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>

            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="conversations,alerting" />
            <meta-data
                android:name="android.service.notification.disabled_filter_types"
                android:value="ongoing,silent" />
        </service>

        <receiver
            android:name=".notificationeventextractor.NotiActionHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.autoevent.IGNORE_PACKAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
