name: Tag & Publish Beta

on:
  workflow_dispatch

jobs:
  build-sign:
    name: Build, Sign and Save Bundle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}   # checkout the correct branch name
          fetch-depth: 0                # fetch the whole repo history
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Git Version
        uses: codacy/git-version@2.8.6
        id: version
        with:
          release-branch: main
      - name: Build Release Artifact
        run: ./gradlew :app:bundleRelease
        env:
          VERSION_NAME: ${{ steps.version.outputs.version }}
      - name: Sign Release
        id: sign-release
        uses: r0adkll/sign-android-release@v1.0.4
        with:
          releaseDirectory: app/build/outputs/bundle/release/
          signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
          alias: ${{ secrets.KEYSTORE_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASS }}
          keyPassword: ${{ secrets.KEYSTORE_ALIAS_PASS }}
      - name: Save Signed Bundle
        uses: actions/upload-artifact@v5
        with:
          name: app-release.aab
          path: ${{ steps.sign-release.outputs.signedReleaseFile }}

  upload:
    name: Upload to Google Play & Create Release
    runs-on: ubuntu-latest
    needs: build-sign
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}   # checkout the correct branch name
          fetch-depth: 0                # fetch the whole repo history
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Git Version
        uses: codacy/git-version@2.8.6
        id: version
        with:
          release-branch: main

      - name: Download app-release.aab
        uses: actions/download-artifact@v7
        with:
          name: app-release.aab
          path: release/

      - name: Create Tag
        uses: negz/create-tag@v1
        with:
          version: ${{ steps.version.outputs.version }}
          message: 'Version ${{ steps.version.outputs.version }}'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate Changelog
        id: changelog
        uses: heinrichreimer/github-changelog-generator-action@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          stripHeaders: true
          releaseBranch: 'main'
          pullRequests: true
          author: true
          issues: true
          issuesWoLabels: true
          prWoLabels: true
          compareLink: true
          filterByMilestone: false
          unreleased: false
          onlyLastTag: true

      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          body: ${{ steps.changelog.outputs.changelog }}
          commit: ${{ env.GITHUB_SHA }}
          tag: ${{ steps.version.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: true
          artifacts: 'release/app-release.aab'

      - name: Upload to Google Play
        uses: r0adkll/upload-google-play@v1.1.3
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: "com.boswelja.autoevent"
          releaseFiles: "release/app-release.aab"
          whatsNewDirectory: googlePlayChangelog/
          inAppUpdatePriority: ${{ steps.update_priority.outputs.update-priority }}
          track: beta
